# Exclude Windows Distribution Directory
Budget Tracker Dist/
src/data/

# Exclude Python cache files
__pycache__/
*.pyc

# Exclude virtual environment
venv/

# Exclude PyInstaller build directories
dist/
build/
*.spec